plugin/src/main/resources/xsd/entity-type.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd" />

    <xs:complexType name="EntityTypeType">
        <xs:attribute name="key" type="KeyType" use="required" />
        <xs:attribute name="name" type="NameType" use="required" />
        <xs:attribute name="pluralized-name" type="NameType" use="required" />
        <xs:attribute name="icon-url" type="HttpUrlType" use="required" />
        <xs:anyAttribute />
    </xs:complexType>
</xs:schema>