plugin/src/main/resources/xsd/oauth.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd" />

    <xs:complexType name="OauthType">
        <xs:sequence>
            <xs:element name="public-key" type="xs:string" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="callback" type="RelativeUrlType" />
        <xs:attribute name="request-token-url" type="RelativeUrlType" />
        <xs:attribute name="access-token-url" type="RelativeUrlType" />
        <xs:attribute name="authorize-url" type="RelativeUrlType" />
    </xs:complexType>
</xs:schema>