plugin/src/main/resources/xsd/page.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd" />
    <xs:complexType name="PageType">
        <xs:sequence>
            <xs:element name="description" type="DescriptionType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="context-param" type="LinkContextParamType" minOccurs="0" maxOccurs="unbounded" />
            <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="key" type="KeyType" use="required" />
        <xs:attribute name="name" type="NameType" use="required" />
        <xs:attribute name="url" type="RelativeUrlType" use="required" />
        <xs:attribute name="height" type="PixelType" />
        <xs:attribute name="width" type="PixelType" />
        <xs:attribute name="section" type="xs:string" />
        <xs:attribute name="weight" type="xs:positiveInteger" />
        <xs:anyAttribute />
    </xs:complexType>
</xs:schema>