plugin/src/main/resources/xsd/permissions.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd" />

    <xs:complexType name="PermissionType">
        <xs:attribute name="scope" type="PermissionValueType" use="required" />
    </xs:complexType>

    <xs:complexType name="PermissionsType">
        <xs:sequence>
            <xs:element name="permission" type="PermissionType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>