plugin/src/main/resources/xsd/remote-search-request-view.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="page.xsd"/>

    <xs:complexType name="RemoteSearchRequestViewType">
        <xs:complexContent>
            <xs:extension base="AbstractPluginModuleType">
                <xs:sequence>
                    <xs:element name="conditions" type="ConditionsType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="url" type="RelativeUrlType" use="required"/>
                <xs:attribute name="weight" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>