plugin/src/main/resources/xsd/webhook-jira.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd" />

    <xs:complexType name="WebHookType">
        <xs:sequence>
            <xs:element name="description" type="DescriptionType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="event" type="BaseWebHookEventType" use="required" />
        <xs:attribute name="url" type="RelativeUrlType" use="required" />
    </xs:complexType>
</xs:schema>