plugin/src/test/resources/com/atlassian/plugin/remotable/plugin/descriptor/root-one-include.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="first-child.xsd" />

    <xs:complexType name="RootType" />

    <xs:complexType name="AtlassianPluginType">
        <xs:choice />
    </xs:complexType>

    <xs:simpleType name="PermissionValueType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
</xs:schema>